/* Frame 2076 */

width: 1440px;
height: 1024px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 40169 */

position: absolute;
width: 1312.28px;
height: 1070.37px;
left: -622.28px;
top: 411.6px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 25.67%;

background: #00ADE0;


/* Vector */

position: absolute;
left: 43.77%;
right: 0%;
top: 0%;
bottom: 0%;

background: #00D9FB;


/* Vector */

position: absolute;
left: 57.68%;
right: 0.87%;
top: 29.56%;
bottom: 24.39%;

background: #0BBBCE;


/* Vector */

position: absolute;
left: 0%;
right: 49.14%;
top: 28.85%;
bottom: 28.32%;

background: #1695B2;


/* Group */

position: absolute;
left: 41.56%;
right: 0.02%;
top: 0%;
bottom: 52.88%;



/* Vector */

position: absolute;
left: 56.69%;
right: 0.02%;
top: 0%;
bottom: 52.88%;

background: #D0F2F4;


/* Vector */

position: absolute;
left: 41.56%;
right: 54.97%;
top: 18.45%;
bottom: 59.34%;

background: #D0F2F4;


/* Group */

position: absolute;
left: 41.56%;
right: 10.63%;
top: 0%;
bottom: 59.34%;



/* Vector */

position: absolute;
left: 59.6%;
right: 27.36%;
top: 0%;
bottom: 72.62%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 72.64%;
right: 10.63%;
top: 4.03%;
bottom: 66.16%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 41.56%;
right: 54.97%;
top: 18.45%;
bottom: 59.34%;

background: #FFFFFF;


/* Frame 40172 */

position: absolute;
width: 1440px;
height: 631.68px;
left: calc(50% - 1440px/2);
bottom: -33.52px;



/* Frame 40172 */

position: absolute;
width: 1440.56px;
height: 807.44px;
left: 0px;
top: 0px;



/* Group 40009 */

position: absolute;
width: 1440.56px;
height: 807.44px;
left: 0px;
top: 0px;



/* Vector 10 */

position: absolute;
width: 1437.12px;
height: 164.16px;
left: 0.96px;
top: 643.28px;

background: #6CD0ED;


/* Vector */

position: absolute;
left: 0%;
right: 0.02%;
top: 0%;
bottom: 19.72%;

background: #00ADE0;


/* Vector */

position: absolute;
left: 57.67%;
right: 0.89%;
top: 31.93%;
bottom: 18.34%;

background: #0BBBCE;


/* Vector */

position: absolute;
left: 0%;
right: 49.15%;
top: 31.16%;
bottom: 22.57%;

background: #1695B2;


/* Vector */

position: absolute;
left: 56.68%;
right: 0.04%;
top: 0%;
bottom: 49.11%;

background: #D0F2F4;


/* Vector */

position: absolute;
left: 41.55%;
right: 54.98%;
top: 19.93%;
bottom: 56.09%;

background: #D0F2F4;


/* Vector */

position: absolute;
left: 59.59%;
right: 27.37%;
top: 0%;
bottom: 70.43%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 72.63%;
right: 10.65%;
top: 4.35%;
bottom: 63.45%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 41.55%;
right: 54.98%;
top: 19.93%;
bottom: 56.09%;

background: #FFFFFF;


/* Vector */

position: absolute;
left: 0%;
right: 0.02%;
top: 39.5%;
bottom: 19.24%;

background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 4%, rgba(255, 255, 255, 0) 100%);


/* Vector */

position: absolute;
left: 0.06%;
right: 41.3%;
top: 6.99%;
bottom: 4.55%;

background: #016048;


/* Vector */

position: absolute;
left: 0.06%;
right: 41.3%;
top: 6.99%;
bottom: 4.55%;

background: linear-gradient(0deg, #77CA30 0.01%, rgba(1, 96, 72, 0) 72%);


/* Vector */

position: absolute;
left: 0%;
right: 44.56%;
top: 56.74%;
bottom: 18.67%;

background: #619E39;


/* Vector */

position: absolute;
left: 64.22%;
right: 2.62%;
top: 37.92%;
bottom: 18.58%;

background: #016048;


/* Vector */

position: absolute;
left: 64.22%;
right: 2.62%;
top: 37.92%;
bottom: 18.58%;

background: linear-gradient(0deg, rgba(119, 202, 48, 0.5) 0.01%, rgba(1, 96, 72, 0) 72%);


/* Vector */

position: absolute;
left: 61.72%;
right: 0.04%;
top: 67.35%;
bottom: 16.88%;

background: #619E39;


/* Vector */

position: absolute;
left: 68.53%;
right: 20.26%;
top: 93.28%;
bottom: 2.35%;

background: #A8624C;


/* Vector */

position: absolute;
left: 62.15%;
right: 0.04%;
top: 56.68%;
bottom: 8.56%;

background: #1E3818;


/* Vector */

position: absolute;
left: 0%;
right: 48.41%;
top: 83.12%;
bottom: 0.24%;

background: #619E39;


/* Vector */

position: absolute;
left: 0%;
right: 51.17%;
top: 40.67%;
bottom: 16.94%;

background: #1E3818;


/* Vector */

position: absolute;
left: 38.69%;
right: 51.17%;
top: 71.04%;
bottom: 16.94%;

background: #245915;


/* Vector */

position: absolute;
left: 0%;
right: 61.58%;
top: 40.67%;
bottom: 28.6%;

background: #245915;


/* Vector */

position: absolute;
left: 59.59%;
right: 0.04%;
top: 67.35%;
bottom: 2.59%;

background: #375E30;


/* Vector */

position: absolute;
left: 76.04%;
right: 0.04%;
top: 67.34%;
bottom: 2.6%;

background: #2C4C25;


/* Vector */

position: absolute;
left: 64.44%;
right: 6.59%;
top: 74.06%;
bottom: 13.55%;

background: #487240;


/* Vector */

position: absolute;
left: 0%;
right: 48.41%;
top: 56.74%;
bottom: 10.48%;

background: #105C38;


/* Vector */

position: absolute;
left: 0%;
right: 57.82%;
top: 56.74%;
bottom: 10.48%;

background: #2C4C25;


/* Vector */

position: absolute;
left: 12.62%;
right: 52.95%;
top: 63.78%;
bottom: 17.62%;

background: #487240;


/* Vector */

position: absolute;
left: 0.06%;
right: 96.58%;
top: 51.41%;
bottom: 18.94%;

background: #6DBE6B;


/* Vector */

position: absolute;
left: 0.05%;
right: 97.46%;
top: 56.15%;
bottom: 16.17%;

background: #266623;


/* Vector */

position: absolute;
left: 94.91%;
right: 0%;
top: 27.28%;
bottom: 27.86%;

background: #6DBE6B;


/* Vector */

position: absolute;
left: 96.25%;
right: 0%;
top: 34.44%;
bottom: 23.66%;

background: #266623;


/* Vector */

position: absolute;
left: 1.83%;
right: 90.68%;
top: 26.56%;
bottom: 39.59%;

background: #6DBE6B;


/* Vector */

position: absolute;
left: 2.77%;
right: 91.68%;
top: 29.97%;
bottom: 36.4%;

background: #266623;


/* Vector */

position: absolute;
left: 9.34%;
right: 84.1%;
top: 41.46%;
bottom: 28.9%;

background: #6DBE6B;


/* Vector */

position: absolute;
left: 10.16%;
right: 84.98%;
top: 44.44%;
bottom: 26.11%;

background: #266623;


/* Vector */

position: absolute;
left: 83.66%;
right: 9.77%;
top: 41.56%;
bottom: 28.8%;

background: #6DBE6B;


/* Vector */

position: absolute;
left: 84.48%;
right: 10.65%;
top: 44.54%;
bottom: 26.01%;

background: #266623;


/* Vector */

position: absolute;
left: 76.69%;
right: 20.75%;
top: 65.67%;
bottom: 22.8%;

background: #6DBE6B;


/* Vector */

position: absolute;
left: 77.01%;
right: 21.09%;
top: 66.83%;
bottom: 21.72%;

background: #266623;


/* Vector */

position: absolute;
left: 79.4%;
right: 15.48%;
top: 57.8%;
bottom: 19.06%;

background: #6DBE6B;


/* Vector */

position: absolute;
left: 80.03%;
right: 16.17%;
top: 60.13%;
bottom: 16.89%;

background: #266623;


/* Vector */

position: absolute;
left: 0%;
right: 94.59%;
top: 76.92%;
bottom: 6.17%;

background: #77B352;


/* navbar */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 24px;
gap: 10px;

position: absolute;
width: 1440px;
height: 112px;
left: 0px;
top: 0px;



/* wrap */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 737px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* nav-links */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 32px;

width: 625px;
height: 64px;

background: #FFFFFF;
/* stroke btn */
border: 1px solid #C3C5C7;
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Home */

width: 53px;
height: 40px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 40px;
/* identical to box height, or 222% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* What is Sociovate? */

width: 165px;
height: 40px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 40px;
/* identical to box height, or 222% */
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Tracks */

width: 62px;
height: 40px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 40px;
/* identical to box height, or 222% */
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Timeline */

width: 73px;
height: 40px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 40px;
/* identical to box height, or 222% */
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Contact Us */

width: 96px;
height: 40px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 40px;
/* identical to box height, or 222% */
display: flex;
align-items: center;
text-transform: capitalize;

color: rgba(0, 0, 0, 0.6);


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* nav-links */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
gap: 32px;

width: 96px;
height: 64px;

background: #ED402D;
box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.5);
border-radius: 14px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Login */

width: 48px;
height: 40px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 40px;
/* identical to box height, or 222% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hero section */

position: absolute;
width: 1440px;
height: 912px;
left: 0px;
top: 112px;



/* stack */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 696px;
height: 262.48px;
left: 372px;
top: 193.76px;



/* Frame 2053 */

width: 255px;
height: 53px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 40182 */

position: absolute;
width: 234.89px;
height: 53px;
left: calc(50% - 234.89px/2 + 0.45px);
top: 0px;



/* ixda-vellore_dark */

position: absolute;
width: 111px;
height: 53px;
left: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 18.21%;



/* Vector */

position: absolute;
left: 23.74%;
right: 76.14%;
top: 61.79%;
bottom: 38.21%;

background: #55C4C4;


/* Vector */

position: absolute;
left: 20.14%;
right: 79.86%;
top: 25.9%;
bottom: 74.03%;

background: #55C4C4;


/* Vector */

position: absolute;
left: 39.3%;
right: 60.51%;
top: 61.76%;
bottom: 38.16%;

background: #55C4C4;


/* Vector */

position: absolute;
left: 23.97%;
right: 75.87%;
top: 61.54%;
bottom: 38.27%;

background: #55C4C4;


/* Vector */

position: absolute;
left: 43.04%;
right: 56.92%;
top: 54.77%;
bottom: 44.83%;

background: #55C4C4;


/* Vector */

position: absolute;
left: 20.16%;
right: 79.83%;
top: 54.84%;
bottom: 44.87%;

background: #55C4C4;


/* Frame 2057 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

position: absolute;
width: 91.82px;
height: 38.34px;
left: 10.78px;
top: 7.24px;



/* Frame 2056 */

width: 91.82px;
height: 29.53px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 95.26%;
top: 2.7%;
bottom: 0.03%;

background: #515E66;


/* Vector */

position: absolute;
left: 47.85%;
right: 30.02%;
top: 2.67%;
bottom: 0.04%;

background: #515E66;


/* Vector */

position: absolute;
left: 73.33%;
right: 0%;
top: 2.78%;
bottom: 0%;

background: #515E66;


/* Frame 1 */

position: absolute;
width: 25.4px;
height: 29.52px;
left: 11.49px;
top: 0px;



/* Vector */

position: absolute;
left: 36.25%;
right: 44.32%;
top: 11.82%;
bottom: 71.46%;

background: #55C4C4;
transform: rotate(-45.01deg);


/* Vector */

position: absolute;
left: 0.35%;
right: 0.22%;
top: 14.57%;
bottom: 0.16%;

background: #55C4C4;


/* Vector */

position: absolute;
left: 0%;
right: 81.93%;
top: 13.95%;
bottom: 70.5%;

background: #515E66;


/* Vector */

position: absolute;
left: 81.93%;
right: 0%;
top: 13.95%;
bottom: 70.5%;

background: #515E66;


/* Vector */

position: absolute;
left: 0%;
right: 81.93%;
top: 84.45%;
bottom: 0%;

background: #515E66;


/* Vector */

position: absolute;
left: 81.93%;
right: 0%;
top: 84.45%;
bottom: 0%;

background: #515E66;


/* V I T V E L L O R E */

width: 89.05px;
height: 4.81px;

font-family: 'Alte DIN 1451 Mittelschrift';
font-style: normal;
font-weight: 400;
font-size: 4.01148px;
line-height: 5px;
/* identical to box height */
letter-spacing: 0.7em;

color: #515E66;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* x */

position: absolute;
width: 25px;
height: 26px;
left: 119px;
top: 9.5px;

font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 52px;
/* leading-trim and text-edge are draft CSS properties.

Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
*/
leading-trim: both;
text-edge: cap;
letter-spacing: -0.08em;

color: #007656;



/* IET Logo Original Color 1 */

position: absolute;
width: 69px;
height: 35px;
left: 160.5px;
top: 7.24px;



/* Vector */

position: absolute;
left: 19.64%;
right: 43.15%;
top: 38.55%;
bottom: 0%;

background: #9C67A8;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #4F1B59;


/* Group 40002 */

width: 696px;
height: 199.48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sociovate */

position: absolute;
width: 696px;
height: 108.7px;
left: calc(50% - 696px/2);
top: 63px;

background: #007656;
border: 4px solid #54DD4A;
/* 1 */
box-shadow: -8px 8px 0px #004130;


/* Group 40003 */

position: absolute;
width: 78.18px;
height: 81.63px;
left: 312.95px;
top: 94.93px;



/* Vector */

position: absolute;
width: 78.18px;
height: 81.63px;
left: 312.95px;
top: 94.93px;

background: #007656;
border: 9px solid #FFFFFF;


/* Vector */

position: absolute;
width: 78.18px;
height: 81.63px;
left: 312.95px;
top: 94.93px;

background: #007656;
border: 0.852941px solid #007656;


/* ‘24 */

position: absolute;
width: 153.32px;
height: 87.11px;
left: calc(50% - 153.32px/2 + 35.61px);
top: 175.37px;

background: #FF5500;
border: 4px solid #FFB38E;
box-shadow: -8px 10px 0px #502F2B;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 28px;
gap: 16px;

position: absolute;
width: 250px;
height: 78px;
left: calc(50% - 250px/2);
top: 620.24px;

background: #ED402D;
box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.5);
border-radius: 14px;


/* Register now */

width: 154px;
height: 30px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 30px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ph:arrow-right-light */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Vector */

position: absolute;
left: 13.28%;
right: 13.28%;
top: 19.59%;
bottom: 19.59%;

background: #FFFFFF;


/* Frame 2072 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 28px;
gap: 10px;

position: absolute;
width: 631px;
height: 62px;
left: calc(50% - 631px/2 - 0.5px);
top: 510px;

background: rgba(243, 237, 228, 0.8);
border: 2px solid #007656;
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 43px;


/* A sustainable development ideathon+designathon */

width: 575px;
height: 38px;

font-family: 'Clash Display';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 160%;
/* or 38px */
text-align: center;

color: #122315;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
